    <h1>About us</h1>
 <header>
  </header>
    <body>
     At our store, we are all about supplying some greenery to your home. Once you buy from us, you will see that our plants and flowers are hard to kill. 
     <br>
     It's easier than ever to grow some plants and not have them die in a week. Our plants have been grown with the proper care they need and they are quite easy to maintain.
    </body>
